<% layout('layouts/boilerplate1') %>

    <!-- Body injected in boilerplate1 -->
    <!-- Start Banner Hero -->
    <div class="banner-wrapper bg-light">
        <div id="index_banner" class="banner-vertical-center-index container-fluid py-0">

            <!-- Start slider -->
            <div id="carouselExampleIndicators" class="carousel slide carousel-dark" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row d-flex align-items-center pt-5 pb-0">
                            <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-center py-2 pb-2">
                                <h1 class="banner-heading h1 text-primary display-3 mb-0 pb-5 mx-0 px-0 light-300">
                                    Welcome <del>Nerds</del> Geeks to
                                  <br>
                                  <strong>NerdyStan</strong>
                              </h1>
                                <h3 class="banner-body text-muted py-3 mx-0 px-0">
                                    Welcome to your dream place where you can list your Book and leave ratings and know more about other books that you never read!
                                </h3>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item">
                        <div class="py-1 row d-flex align-items-center pt-5 pb-0">
                            <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-center py-2 pb-2">
                                <h1 class="banner-heading h1 text-primary display-3 mb-0 pb-5 mx-0 px-0 light-300">
                                    <strong>Add a Book</strong>
                                </h1>
                                <h3 class="banner-body text-muted py-3">
                                    List a Book that you read recently and see what others think of it!
                                </h3>
                                <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" href="/books/new" role="button">Add A Book</a>
                            </div>
                        </div>

                    </div>
                    <div class="carousel-item">
                        <div class="py-1 row d-flex align-items-center pt-5 pb-0">
                            <div class="banner-content col-lg-8 col-8 offset-2 m-lg-auto text-center py-2 pb-2">
                                <h1 class="banner-heading h1 text-primary display-3 mb-0 pb-5 mx-0 px-0 light-300">
                                    <strong>Leave Reviews</strong>
                                </h1>
                                <h3 class="banner-body text-muted py-3">
                                    Review the Book You read and let Others Know how much you liked it!
                                </h3>
                                <a class="banner-button btn rounded-pill btn-outline-primary btn-lg px-4" href="#book-section" role="button">Find A Book To Review</a>
                            </div>
                        </div>

                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon dark" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!-- End slider -->

        </div>
    </div>
    <!-- End Banner Hero -->

    <section class="service-wrapper py-3">
        <div class="service-tag py-5 bg-secondary">
            <div class="col-md-12">
                <ul class="nav d-flex justify-content-center">
                    <li class="nav-item mx-lg-4">
                        <a class="filter-btn nav-link btn-outline-primary active shadow rounded-pill text-light px-4 light-300" href="#" data-filter=".project">View Books</a>
                    </li>
                    <li class="nav-item mx-lg-4">
                        <a class="filter-btn nav-link btn-outline-primary active shadow rounded-pill text-light px-4 light-300" href="#" data-filter=".graphic">Add Books</a>
                    </li>
                    <li class="filter-btn nav-item mx-lg-4">
                        <a class="filter-btn nav-link btn-outline-primary active shadow rounded-pill text-light px-4 light-300" href="#" data-filter=".ui">Review Books</a>
                    </li>
                    <li class="nav-item mx-lg-4">
                        <a class="filter-btn nav-link btn-outline-primary active shadow rounded-pill text-light px-4 light-300" href="#" data-filter=".branding">Buy Books</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section class="container py-5" id="book-section">
        <div class="row gx-5 gx-sm-3 gx-lg-5 gy-lg-5 gy-3 pb-3 projects">

            <% for(let i = 0; i < Math.min(Math.floor(books.length/2),8); i++){ %> 
            <!-- Start Recent Work -->
            <div class="col-xl-3 col-md-4 col-sm-6 project ui branding">
                <a href="/books/<%= books[i]._id %> ">
                    <!-- <img class="service card-img" src="./assets/img/services-01.jpg" alt="Card image"> -->
                    <div class="img-box">
                        <img class="service card-img image__img" src="<%= books[i].image %> " alt="Card image" height="400px">
                        <div class="image__overlay image__overlay--primary">
                            <div class="image__title"><h3><%= books[i].title %></h3></div>
                            <p class="image__description">
                                By ~ <%= books[i].author %> 
                            </p>
                        </div>
                    </div>
                </a>
            </div><!-- End Recent Work -->
        <% } %> 

        </div>
    </section>
    <!-- End Service -->






    <!-- Start View Work -->
    <section class="bg-secondary">
        <div class="container py-5 text-center">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-7 col-12 text-light pt-2">
                    <h3>There is No friend as loyal as a Book ~ <i>Ernest Hemingway</i></h3>
                </div>
            </div>
        </div>
    </section>
    <!-- End View Work -->

    <!-- Start Recent Work -->
    <section class="py-5 mb-5" id="more-books">
        <div class="container">
            <div class="recent-work-header row text-center pb-5">
                <h2 class="col-md-6 m-auto h2 semi-bold-600 py-5">More Books</h2>
            </div>
            <div class="row gy-5 g-lg-5 mb-4">

                <% for(let i = Math.floor(books.length/2); i < books.length; i++){ %> 
                <!-- Start Recent Work -->
                <div class="col-xl-3 col-md-4 col-sm-6 mb-3">
                    <a href="/books/<%= books[i]._id %> ">
                        <!-- <img class="service card-img" src="./assets/img/services-01.jpg" alt="Card image"> -->
                        <div class="img-box">
                            <img class="service card-img image__img" src="<%= books[i].image %> " alt="Card image" height="400px">
                            <div class="image__overlay image__overlay--primary">
                                <div class="image__title"><h3><%= books[i].title %></h3></div>
                                <p class="image__description">
                                    By ~ <%= books[i].author %> 
                                </p>
                            </div>
                        </div>
                    </a>
                </div><!-- End Recent Work -->
                
                <% } %> 

            </div>
        </div>
    </section>