<% layout('layouts/boilerplate1')%>

    <!-- Start Work Sigle -->
    <h1 class="text-center text-dark mt-3 mb-0 display-4"><%= book.title %> </h2>
    <section class="container py-5">
        <div class="row justify-content-start pb-4">
            <div class="col-lg-6">
                <div id="templatemo-slide-link-target" class="card mb-3" style="width: 500px;">
                    <img class="border rounded" src="<%= book.image %> " alt="Card image cap" height="700px" width="500px">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <section class="bg-white py-3">
                    <div class="container my-2">
            
                        <h1 class="creative-heading h2 pb-3">Rating Statistics</h1>
                        <h1 class="creative-heading h3 pb-3 text-muted">Average Rating : <% if(avg_rating){ %>
                            <%= avg_rating %> 
                        <% }else{ %> 
                            0
                        <% } %> 
                        </h1>
                        <h1 class="creative-heading h3 pb-3 text-muted">Total Ratings : <%= book.reviews.length %> </h1>
            
                        <div class="creative-content row py-3">
                            <div class="creative-progress col-md-7">
            
                                <div class="row mt-4 mt-sm-2">
                                    <div class="col-6">
                                        <h4 class="h5">1 Star</h4>
                                    </div>
                                    <div class="col-6 text-right">
                                        <% if(rev_1){ %> 
                                            <%= rev_1 %>%
                                        <% }else{ %> 
                                            0%
                                        <% } %> 
                                    </div>
                                </div>
                                <div class="progress">
                                    <% let str_rev_1 = "width:" + rev_1 + "%;" %> 
                                    <div class="progress-bar" role="progressbar" style=<%= str_rev_1 %> ></div>
                                </div>
            
                                <div class="row mt-4 mt-sm-2">
                                    <div class="col-6">
                                        <h4 class="h5">2 Star</h4>
                                    </div>
                                    <div class="col-6 text-right">
                                        <% if(rev_2){ %> 
                                            <%= rev_2 %>%
                                        <% }else{ %> 
                                            0%
                                        <% } %> 
                                    </div>
                                </div>
                                <div class="progress">
                                    <% let str_rev_2 = "width:" + rev_2 + "%;" %> 
                                    <div class="progress-bar" role="progressbar" style=<%= str_rev_2 %> ></div>
                                </div>
            
            
                                <div class="row mt-4 mt-sm-2">
                                    <div class="col-6">
                                        <h4 class="h5">3 Star</h4>
                                    </div>
                                    <div class="col-6 text-right">
                                        <% if(rev_3){ %> 
                                            <%= rev_3 %>%
                                        <% }else{ %> 
                                            0%
                                        <% } %> 
                                    </div>
                                </div>
                                <div class="progress">
                                    <% let str_rev_3 = "width:" + rev_3 + "%;" %> 
                                    <div class="progress-bar" role="progressbar" style=<%= str_rev_3 %> ></div>
                                </div>


                                <div class="row mt-4 mt-sm-2">
                                    <div class="col-6">
                                        <h4 class="h5">4 Star</h4>
                                    </div>
                                    <div class="col-6 text-right">
                                        <% if(rev_4){ %> 
                                            <%= rev_4 %>%
                                        <% }else{ %> 
                                            0%
                                        <% } %> 
                                    </div>
                                </div>
                                <div class="progress">
                                    <% let str_rev_4 = "width:" + rev_4 + "%;" %> 
                                    <div class="progress-bar" role="progressbar" style=<%= str_rev_4 %> ></div>
                                </div>


                                <div class="row mt-4 mt-sm-2">
                                    <div class="col-6">
                                        <h4 class="h5">5 Star</h4>
                                    </div>
                                    <div class="col-6 text-right">
                                        <% if(rev_5){ %> 
                                            <%= rev_5 %>%
                                        <% }else{ %> 
                                            0%
                                        <% } %> 
                                    </div>
                                </div>
                                <div class="progress">
                                    <% let str_rev_5 = "width:" + rev_5 + "%;" %> 
                                    <div class="progress-bar" role="progressbar" style=<%= str_rev_5 %> ></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- End Progress -->
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="text-center">
                    <a href="<%= book.bestPurchaseLink %> " class="btn btn-primary">Best Buy</a>
                    <a href="/books/<%= book._id %>/edit" class="btn btn-primary">Update Book</a>
                </div>
            </div>
        </div>

        <h2 class="text-center mt-5">Book Excerpt</h2>

        <div class="row">
            <div class="col-md-8 m-auto text-center justify-content-center">
                <p class="display-6 py-4 ps-4 border border-5 border-top-0 border-end-0 border-bottom-0 border-start">
                    <i>
                        <%= book.about %> 
                    </i>
                </p>
            </div>
        </div>


        <div class="row justify-content-center">
            <div class="worksingle-comment-heading col-8 m-auto pb-3 just">
                <p class="h2 text-center text-muted">Click to visit Best Purchase</p>
            </div>
        </div>
        <div class="row justify-content-center py-3">
            <div class="col-lg-8">
                <div class="worksingle-slide-footer row">
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class='bx bxs-chevron-left bx-sm text-dark'></i>
                        </a>
                    </div>
                    <!--End Controls-->

                    <!--Start Carousel Wrapper-->
                    <div id="multi-item-example" class="col-10 carousel slide carousel-dark" data-bs-ride="carousel">
                        <!--Start Slides-->
                        <div class="carousel-inner" role="listbox">

                            <div class="carousel-item active">
                                <div class="row">
                                    <% for(let j = 0; j < Math.min(5,books.length); j++){ %> 
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="<%= books[j].bestPurchaseLink %> ">
                                            <img class="img-fluid border rounded" src="<%= books[j].image %> " alt="Product Image">
                                        </a>
                                    </div>
                                    <% } %> 
                                </div>
                            </div>

                            <% if(books.length > 5){ %> 
                            <div class="carousel-item">
                                <div class="row">
                                    <% for(let j = 5; j < Math.min(10,books.length); j++){ %> 
                                    <div class="col">
                                        <a class="templatemo-slide-link" href="<%= books[j].bestPurchaseLink %> ">
                                            <img class="img-fluid border rounded" src="<%= books[j].image %> " alt="Product Image">
                                        </a>
                                    </div>
                                    <% } %> 
                                </div>
                            </div>
                            <% } %> 

                        </div>
                        <!--End Slides-->
                    </div>
                    <!--End Carousel Wrapper-->

                    <!--Start Controls-->
                    <div class="col-1 align-self-center text-end">
                        <a href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class='bx bxs-chevron-right bx-sm text-dark'></i>
                        </a>
                    </div>
                    <!--End Controls-->

                </div>
            </div>
        </div><!-- End Slider -->

        <!-- Start Comment -->
        <div class="row justify-content-center">
            <div class="worksingle-comment-heading col-8 m-auto pb-3 just">
                <p class="h2 text-center">Book Reviews</p>
            </div>
        </div>

        <% for(let i = 0; i < book.reviews.length; i++){ %> 
        <div class="row pb-4">
            <div class="worksingle-comment-body col-md-8 m-auto">
                <div class="d-flex">
                    <div>
                        <img class="rounded-circle" src="/img/user-regular-72.png" style="width: 50px;">
                    </div>
                    <div class="comment-body">
                        <div class="comment-header d-flex justify-content-between ms-3">
                            <div class="header text-start">
                                <h5 class="h6">
                                    <% if(book.reviews[i].username){%>
                                        <strong><%= book.reviews[i].username %></strong> rated : <strong><%= book.reviews[i].rating %> Stars</strong>
                                    <% }else{ %>
                                    <strong>Anonymous User</strong> rated : <strong><%= book.reviews[i].rating %> Stars</strong>
                                    <% } %>  
                                </h5>
                                <!-- <p class="text-muted light-300">10 mins ago</p> -->
                            </div>
                        </div>
                        <div class="footer">
                            <div class="card-body border ms-3 light-300" style="width: 800px;">
                                <%= book.reviews[i].content %> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- End Comment -->
        <% } %> 


        <div class="row pb-0">
            <div class="worksingle-comment-footer col-lg-8 m-auto">
                <h4 class="h5">Leave Your Review</h4>
                <form class="col-md-12 m-auto" method="POST" action="/books/<%=book._id%>/book-review" role="form">

                    <div class="form-group">
                        <label class="pb-2 pt-sm-0 pt-4 light-300" for="inputmessage">Your Comment</label>
                        <textarea class="form-control form-control-lg light-300" id="inputmessage" name="review[content]" placeholder="Your Comment" rows="3"></textarea>
                    </div>

                    <div class="row py-4">
                        <div class="col-lg-6">
                            <label class="pb-2 light-300" for="inputname">Your UserName</label>
                            <input type="text" class="form-control form-control-lg light-300" id="inputname" name="review[username]" placeholder="UserName">
                        </div>
                        <div class="col-lg-6">
                            <label class="pb-2 pt-sm-0 pt-4 light-300" for="inputemail">Rating</label>
                            <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
                        </div>
                    </div>

                    <div class="form-row pt-2">
                        <div class="col-md-12 col-10 text-end">
                            <button type="submit" class="btn btn-success text-white px-md-4 px-2 py-md-3 py-1 radius-0 light-300">Add Review</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- End Comment Form -->


    </section>

    <!-- Bootstrap -->
    <!-- <script src="assets/js/bootstrap.bundle.min.js"></script> -->
    <!-- Load jQuery require for Page Script -->
    <!-- <script src="assets/js/jquery.min.js"></script> -->
    <!-- Page Script -->
    <!-- <script>
        $(window).load(function() {
            // Slide
            $('.templatemo-slide-link').click(function() {
                var this_href = $(this).attr('href');
                $('#templatemo-slide-link-target img').attr('src', this_href);
                return false;
            });
            // End Slide
        });
    </script> -->
    <!-- Templatemo -->
    <!-- <script src="assets/js/templatemo.js"></script> -->
    <!-- Custom -->
    <!-- <script src="assets/js/custom.js"></script> -->